// - speakerdeck.com/vjeux/react-css-in-js
// - jxnblk.com/writing/posts/patterns-for-style-composition-in-react

// App styles are here:
// - browser/app/themes
// - browser/app/components

// But not everything belongs to inline styles.
// We need global styles for platform specific stuff.

* {
  // Because box-sizing is not inherited.
  box-sizing: border-box;
}

html {
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  // Remove the margin in all browsers.
  background-image: url("/assets/images/wallpaper.jpg");
background-size: cover;
background-repeat: no-repeat;
overflow-x: hidden;
color: #cccccc;
background-attachment:fixed;
}

.title-hibbo{
  text-align: center;
}

.fix-hauteur{
  margin-top:-90px;
}

.monster {
  position: absolute;
  z-index: 5;
  height: 46px;
  width: 46px;
  margin-left: 1px;
  cursor:pointer;
}

.map_tile {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: -4px!important;
  height: 34px;
  width: 34px;
}

.case{
  width:50px;
  height:50px;
}

.caseforest{
  background: url("/assets/images/forest.png") no-repeat;
  background-size: cover;
}

.casegrass{
  background: url("/assets/images/grass.png") no-repeat;
  background-size: cover;
}

.caseleftdoor{
  background: url("/assets/images/grass_left_door.png") no-repeat;
  background-size: cover;
}



#app{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  position: fixed;
}

.container_app{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  width: 1024px;
  height: 496px;
  margin: auto;
  position: absolute;
}

// menu fixe

.menu-fixe{

}

.menu-fixe li{
  padding: 10px;
  background-color: #16120f;
  width: 214px;
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

.menu-fixe li:hover{
  background-color: #210009;
}



// login

.login_image {
  background: rgba(0, 0, 0, 0) url("/assets/images/login/login.png") no-repeat scroll 0 0;
  height: 313px;
  margin: 75px auto;
  width: 562px;
}

.login_title{
  font-size: 29px;
  padding-top: 38px;
  text-align: center;
}

.auth_form{
  padding:25px 3em 3em 3em ;
  max-width:none;
  width: 100%;
}

.auth_form label {
  text-transform: uppercase;
  color: grey;
  font-weight: 400;
  letter-spacing: 1px;
  width: 40%;
  text-align: center;
}

.auth_form_email, .auth_form_password{
  display: inline-block;
  height: 30px;

 }

.auth_form_actions{
  margin-top: 40px;
}

.form_auth_error{
  font-weight: 600;
  font-size: 13px;
  color: white;
  margin-bottom: -25px;
}

.form_auth_error_empty{
  height: 15px;
}


// boutons

.champs-btn-end{
  width:100%;
  display: flex;
}

.btn-retour{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 10px auto;
  padding: 8px 16px;
  cursor: pointer;
  border: 0;
  color: #fff;
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/logoutbutton.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
}

// levels

.one-level{
  width:10%;
  float: left;
}

.choose-level {
  width:75px;
  height:75px;
  background: url(/assets/images/levels/level.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.choose-level span{
  margin-left: 30px;
  margin-top: 23px;
  display: inline-flex;
  font-size: 25px;
  color: #ffd370;
  font-weight: bold;
}

.level-lock{
  width:75px;
  height:75px;
  background: url(/assets/images/levels/level-lock.png) no-repeat;
  background-size: contain;
}

// map

.cadre-gauche{
  float: left;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 380px;
  height: 350px;
  border-right: 1px solid #fff;
}

.personnage{
  background: url(/assets/images/characters/perso1.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 100%;
  height: 165px;
  background-color: #16120f;
}

progress {
  display: block;

  border: 0 none;
  position: fixed;
}
progress::-moz-progress-bar {
}

.progressHealth{
  margin: 47px 0 0 167px;
  height: 18px;
  width: 191px;
}

.progressDamage{
  margin: 79px 0 0 169px;
  height: 17px;
  width: 156px;
}

.progressMore{
  margin: 108px 0 0 168px;
  height: 17px;
  width: 156px;
}

progress[value].progressHealth::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #09c);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].progressDamage::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #ED7F10, #ED7F10);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value].progressMore::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #370028, #370028);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}


.cadreweapons{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: block;
  height: 235px;
  float: right;
  border-top: 1px solid #fff;
  background: url(/assets/images/cadreweapons.png) no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.weapons{
  width: 75%;
  margin: 0 auto;
  margin-top: 80px;
}

.weapon{
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin: 5px 10px;
  border: 1px solid #fff;
}

.cadre {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  padding: 1% 5%;
  margin: 0 auto;
  width: 644px;
  float: right;
}


.cadre-droit{

}

.monster_head {
  width: 60px;
  margin-left: 20px;
}

.cadre-boss{
  width: 644px;
  display: block;
  height: 136px;
  background-color: rgba(0, 0, 0, 0.3);
  float: right;
}
.progressBoss {
  background: url(/assets/images/monsters/progressbar-boss.png) no-repeat;
  background-size: contain;
  width: 50%;
  height: 115px;
  background-color: #16120f;
}

.progressBarBoss{
  margin: 14px 0 0 110px;
  height: 18px;
  width: 194px;
}

.monster_name {
  padding-top: 13px;
  padding-left: 110px;
  margin: 0px;
}

.monster_name_hidden {
  padding-top: 31px;
  padding-left: 110px;
  margin: 0px;
}

progress[value].progressBarBoss::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #09c);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.cadre-objets {
  background-color: rgba(0, 0, 0, 0.3);
  width: 644px;
  display: block;
  height: 200px;
  float: right;
  border-top: 1px solid #fff;
  background: url(/assets/images/box-competence3.png) no-repeat;
  background-size: contain;
  opacity: 0.9;
}

.progressSkills{
  margin: 65px 0 0 63px;
  height: 20px;
  width: 514px;
}


progress[value].progressSkills::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #00FE7E, #00FE7E);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.objets {
  height: 86px;
  width: 560px;
  display: block;
  padding: 2%;
  margin: 0 auto;
  margin-top: 88px;
}


.objet {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin: 5px 8px;
  border: 1px solid #fff;
}

.objet1{
  background: url("/assets/images/objets/1.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet2{
  background: url("/assets/images/objets/2.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet3{
  background: url("/assets/images/objets/3.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet4{
  background: url("/assets/images/objets/4.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet5{
  background: url("/assets/images/objets/5.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet6{
  background: url("/assets/images/objets/6.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet7{
  background: url("/assets/images/objets/7.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.objet0{
  background: url("/assets/images/objets/8.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon0{
  background: url("/assets/images/weapons/0.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon1{
  background: url("/assets/images/weapons/1.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon2{
  background: url("/assets/images/weapons/2.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon3{
  background: url("/assets/images/weapons/3.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon4{
  background: url("/assets/images/weapons/4.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon5{
  background: url("/assets/images/weapons/5.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon6{
  background: url("/assets/images/weapons/6.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon7{
  background: url("/assets/images/weapons/7.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}



.objetVide{
  background: url("/assets/images/objets/vide.jpg") no-repeat;
  background-size: cover;
}

.Warrior-down {
  -webkit-animation: movedown 1s; /* Safari 4.0 - 8.0 */
  animation: movedown 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.Warrior-up {
  -webkit-animation: moveup 1s; /* Safari 4.0 - 8.0 */
  animation: moveup 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.Warrior-left {
  -webkit-animation: moveleft 1s; /* Safari 4.0 - 8.0 */
  animation: moveleft 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.Warrior-right {
  -webkit-animation: moveright 1s; /* Safari 4.0 - 8.0 */
  animation: moveright 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.aWarrior-down {
  -webkit-animation: amovedown 1s; /* Safari 4.0 - 8.0 */
  animation: amovedown 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.aWarrior-up {
  -webkit-animation: amoveup 1s; /* Safari 4.0 - 8.0 */
  animation: amoveup 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.aWarrior-left {
  -webkit-animation: amoveleft 1s; /* Safari 4.0 - 8.0 */
  animation: amoveleft 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.aWarrior-right {
  -webkit-animation: amoveright 1s; /* Safari 4.0 - 8.0 */
  animation: amoveright 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_adown {
  -webkit-animation: amovedown 1s; /* Safari 4.0 - 8.0 */
  animation: amovedown 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_aup {
  -webkit-animation: amoveup 1s; /* Safari 4.0 - 8.0 */
  animation: amoveup 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_aleft {
  -webkit-animation: amoveleft 1s; /* Safari 4.0 - 8.0 */
  animation: amoveleft 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_aright {
  -webkit-animation: amoveright 1s; /* Safari 4.0 - 8.0 */
  animation: amoveright 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_down {
  -webkit-animation: attacked_down 1s infinite; /* Safari 4.0 - 8.0 */
  animation: attacked_down 1s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_up {
  -webkit-animation: attacked_up 1s infinite; /* Safari 4.0 - 8.0 */
  animation: attacked_up 1s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_left {
  -webkit-animation: attacked_left 1s infinite; /* Safari 4.0 - 8.0 */
  animation: attacked_left 1s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_right {
  -webkit-animation: attacked_right 1s infinite; /* Safari 4.0 - 8.0 */
  animation: attacked_right 1s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes movedown {
  0%   {top: 0px;}
  100% {top: 50px;}
}

/* Standard syntax */
@keyframes movedown {
  0%   {top: 0px;}
  100% {top: 50px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveup {
  0%   {bottom: 0px;}
  100% {bottom: 50px;}
}

/* Standard syntax */
@keyframes moveup {
  0%   {bottom: 0px;}
  100% {bottom: 50px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveleft {
  0%   {right: 0px;}
  100% {right: 50px;}
}

/* Standard syntax */
@keyframes moveleft {
  0%   {right: 0px;}
  100% {right: 50px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveright {
  0%   {left: 0px;}
  100% {left: 50px;}
}

/* Standard syntax */
@keyframes moveright {
  0%   {left: 0px;}
  100% {left: 50px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amovedown {
  0%   {top: 0px;}
  25% {top: 15px;}
  50% {top: 25px;}
  75% {top: 15px;}
  100% {top: 0px;}
}

/* Standard syntax */
@keyframes amovedown {
  0%   {top: 0px;}
  25% {top: 15px;}
  50% {top: 25px;}
  75% {top: 15px;}
  100% {top: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amoveup {
  0%   {bottom: 0px;}
  25% {bottom: 15px;}
  50% {bottom: 25px;}
  75% {bottom: 15px;}
  100% {bottom: 0px;}
}

/* Standard syntax */
@keyframes amoveup {
  0%   {bottom: 0px;}
  25% {bottom: 15px;}
  50% {bottom: 25px;}
  75% {bottom: 15px;}
  100% {bottom: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amoveleft {
  0%   {right: 0px;}
  25% {right: 15px;}
  50% {right: 25px;}
  75% {right: 15px;}
  100% {right: 0px;}
}

/* Standard syntax */
@keyframes amoveleft {
  0%   {right: 0px;}
  25% {right: 15px;}
  50% {right: 25px;}
  75% {right: 15px;}
  100% {right: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amoveright {
  0%   {left: 0px;}
  25% {left: 15px;}
  50% {left: 25px;}
  75% {left: 15px;}
  100% {left: 0px;}
}

/* Standard syntax */
@keyframes amoveright {
  0%   {left: 0px;}
  25% {left: 15px;}
  50% {left: 25px;}
  75% {left: 15px;}
  100% {left: 0px;}
}

/* Standard syntax */
@keyframes attacked_down {
  0%   {top: 0px;}
  25% {top: 5px;}
  50% {top: 15px;}
  75% {top: 5px;}
  100% {top: 0px;}
}

/* Standard syntax */
@-webkit-keyframes attacked_down {
  0%   {top: 0px;}
  25% {top: 5px;}
  50% {top: 15px;}
  75% {top: 5px;}
  100% {top: 0px;}
}

/* Standard syntax */
@keyframes attacked_up {
  0%   {bottom: 0px;}
  25% {bottom: 5px;}
  50% {bottom: 15px;}
  75% {bottom: 5px;}
  100% {bottom: 0px;}
}


/* Standard syntax */
@-webkit-keyframes attacked_up {
  0%   {bottom: 0px;}
  25% {bottom: 5px;}
  50% {bottom: 15px;}
  75% {bottom: 5px;}
  100% {bottom: 0px;}
}

/* Standard syntax */
@keyframes attacked_left {
  0%   {right: 0px;}
  25% {right: 5px;}
  50% {right: 15px;}
  75% {right: 5px;}
  100% {right: 0px;}
}

/* Standard syntax */
@-webkit-keyframes attacked_left {
  0%   {right: 0px;}
  25% {right: 5px;}
  50% {right: 15px;}
  75% {right: 5px;}
  100% {right: 0px;}
}

/* Standard syntax */
@-webkit-keyframes attacked_right {
  0%   {left: 0px;}
  25% {left: 5px;}
  50% {left: 15px;}
  75% {left: 5px;}
  100% {left: 0px;}
}

/* Standard syntax */
@keyframes attacked_right {
  0%   {left: 0px;}f
  25% {left: 5px;}
  50% {left: 15px;}
  75% {left: 5px;}
  100% {left: 0px;}
}

.selected_tile {
  border: 2px solid red;
}
// Yes, we can still override inline style globally.
// github.com/jxnblk/rebass#styling-with-css
