// - speakerdeck.com/vjeux/react-css-in-js
// - jxnblk.com/writing/posts/patterns-for-style-composition-in-react

// App styles are here:
// - browser/app/themes
// - browser/app/components

// But not everything belongs to inline styles.
// We need global styles for platform specific stuff.

* {
  // Because box-sizing is not inherited.
  box-sizing: border-box;
}

html {
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  // Remove the margin in all browsers.
  background-image: url("/assets/images/wallpaper.jpg");
background-size: cover;
background-repeat: no-repeat;
overflow-x: hidden;
color: #cccccc;
background-attachment:fixed;
}

.title-hibbo{
  text-align: center;
}

.monster {
  position: absolute;
  z-index: 5;
  height: 32px;
  width: 32px;
}

.map_tile {
  margin: 0px!important;
  padding: 0px!important;
  margin-left: -4px!important;
  height: 34px;
  width: 34px;
}

#app{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  position: fixed;
}

.container_app{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  width: 1024px;
  height: 496px;
  margin: auto;
  position: absolute;
}


.login_image {
  background: rgba(0, 0, 0, 0) url("/assets/images/login/login.png") no-repeat scroll 0 0;
  height: 313px;
  margin: 75px auto;
  width: 562px;
}

.login_title{
  font-size: 29px;
  padding-top: 38px;
  text-align: center;
}

.auth_form{
  padding:2em 3em 3em 3em ;
  max-width:none;
  width: 100%;
}

.auth_form label {
  text-transform: uppercase;
  color: grey;
  font-weight: 400;
  letter-spacing: 1px;
  width: 40%;
  text-align: center;
}

.auth_form_email, .auth_form_password{
  display: inline-block;
 }

.auth_form_actions{
  margin-top: 30px;
}

// Yes, we can still override inline style globally.
// github.com/jxnblk/rebass#styling-with-css
