// - speakerdeck.com/vjeux/react-css-in-js
// - jxnblk.com/writing/posts/patterns-for-style-composition-in-react

// App styles are here:
// - browser/app/themes
// - browser/app/components

// But not everything belongs to inline styles.
// We need global styles for platform specific stuff.

* {
  // Because box-sizing is not inherited.
  box-sizing: border-box;
}

html {
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  // Remove the margin in all browsers.
  background-image: url("/assets/images/wallpaper.jpg");
background-size: cover;
background-repeat: no-repeat;
overflow-x: hidden;
color: #cccccc;
background-attachment:fixed;
}

.title-hibbo{
  text-align: center;
}

.fix-hauteur{
  margin-top:-90px;
}

.monster {
  z-index: 5;
  height: 38px;
  width: 38px;
  margin-left: 1px;
  cursor:pointer;
}

.correctifDisplay{
  display: block !important;
}

.monsterEditor {
  position: absolute;
  z-index: 5;
  height: 20px;
  width: 20px;
  margin-left: 1px;
  cursor:pointer;
}

.changeSelection{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/buttonblue.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
}

.actionsEditeur{
  display: -webkit-inline-box;
  padding:0;
}

.actionsEditeur li{
  list-style: none;
}

.nameMap{
  padding: 10px;
  font-size: 15px;
}
span.bot {
  position: absolute;
  right: 275px;
}

Input.input-map-editor{
  margin:0 auto !important;
  width: auto !important;
}

.zoom{
  width:45%;
  margin:0 auto;
}

.zoomPlus{
  background: url(/assets/images/editor/zoomplus.png) no-repeat;
  width: 40px;
  height: 40px;
  background-size: cover;
  cursor: pointer;
  float: left;
  margin: 0 10px;
}

.zoomMoins{
  background: url(/assets/images/editor/zoommoins.png) no-repeat;
  width: 40px;
  height: 40px;
  background-size: cover;
  cursor: pointer;
  float: left;
  margin: 0 10px;
}

.btn-editeur-exit{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 5px 5px;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/actionbutton.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
  float: right;
}
.btn-editeur-save{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 5px 5px;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/dungeonbutton.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
  float: right;
}
.btn-editeur-delete{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 5px 5px;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/logoutbutton.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
  float: right;
}
.btn-editeur-remove{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/buttongrey.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
}
.btn-editeur-active{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/buttongreen.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
}

.cadre-droite-interact-gauche{
  float: left;
}

.cadre-droite-interact-droite {
  float: right;
  width:28%;
}



.map_tile {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: -4px!important;
  height: 34px;
  width: 34px;
}

.case{
  width:40px;
  height:40px;
  background-size: 40px;
  border-bottom: 1px solid #87591A;
  border-right: 1px solid #87591A;
}

.caseEditor{
  width:20px;
  height:20px;
  background-size: 20px;
  border-bottom: 1px solid #87591A;
  border-right: 1px solid #87591A;
}

.caseforest{
  background: url("/assets/images/forest.png") no-repeat;
  background-size: cover;
}

.casegrass{
  background: url("/assets/images/grass.png") no-repeat;
  background-size: cover;
}

.caseleftdoor{
  background: url("/assets/images/grass_left_door.png") no-repeat;
  background-size: cover;
}



#app{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  position: fixed;
}

.container_app{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  width: 1024px;
  height: 596px;
  margin: auto;
  position: absolute;
}

.container_app-editor{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  width: 1024px;
  height: 596px;
  margin: auto;
  position: absolute;
}

.container_app-img{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  width: 1074px;
  height: 646px;
  margin: auto;
  position: absolute;
  background: url("/assets/images/interface/cadreall-1.png") no-repeat;
  z-index: 2;
}
.container_editor_app-img{
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  width: 1074px;
  height: 646px;
  margin: auto;
  position: absolute;
  background: url("/assets/images/interface/cadreall-2.png") no-repeat;
  z-index: 2;
}

// menu fixe

.menu-fixe{
  -webkit-margin-before: 8px;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
}

.menu-fixe li{
  width: 25%;
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background: url(/assets/images/interface/redbutton.png) no-repeat;
  height: 46px;
  line-height: 46px;
  padding-right: 20px;
  z-index: 7000;
  position: relative;
}

.menu-fixe-editor a{
  color: #fab186 !important;
}

.menu-fixe-editor li{
  width: 25%;
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background: url(/assets/images/interface/redbutton.png) no-repeat;
  height: 46px;
  line-height: 46px;
  padding-right: 20px;
  z-index: 7000;
  position: relative;
}

.menu-fixe a{
  color: #fab186;
  text-decoration: none;
}

.btn-haut-editeur{
  width:50%;
  float: left;
}

.listEditeur{
  width: 100%;
  margin:0;
}

.blockSelection{
  background: rgba(255, 255, 255, 0.1);
  margin: 10px;
  height: 275px;
  overflow-y: scroll;
  display: inline-block;
  width: 300px;
}

.titre-error{
  background-color: rgba(0, 0, 0, 0.3);
}

.titre-map{
  margin: 0;
  text-align: center;
  padding: 5px 0;
  color: #fff;
}

.error-map{
  margin:0;
  text-align: center;
}

// login

.login_image {
  background: rgba(0, 0, 0, 0) url("/assets/images/login/login.png") no-repeat scroll 0 0;
  height: 313px;
  margin: 75px auto;
  width: 562px;
}

.login_title{
  font-size: 29px;
  padding-top: 38px;
  text-align: center;
}

.auth_form{
  padding:25px 3em 3em 3em ;
  max-width:none;
  width: 100%;
}

.auth_form label {
  text-transform: uppercase;
  color: grey;
  font-weight: 400;
  letter-spacing: 1px;
  width: 40%;
  text-align: center;
}

.auth_form_email, .auth_form_password{
  display: inline-block;
  height: 30px;

 }

.auth_form_actions{
  margin-top: 40px;
}

.form_auth_error{
  font-weight: 600;
  font-size: 13px;
  color: white;
  margin-bottom: -25px;
}

.form_auth_error_empty{
  height: 15px;
}

.cadre-map-info{
  width:45%;
  float: left;
}

.btn-map{
  width: 140px;
  margin: 20px auto;
}

.btn-option-editeur{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 32px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/logoutbutton.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
  padding:16px;
}

.info-joueur{
  width:100%;
  text-align: center;
}
// boutons

.btn-retour{
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  color: #fff;
  background-image: url(/assets/images/login/actionbutton.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 39px;
  width: 140px;
  box-shadow: none;
  cursor: pointer;
}

.btn-dungeon{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 10px auto;
  padding: 8px 16px;
  cursor: pointer;
  border: 0;
  color: #fff;
  background-color: transparent;
  border-radius: 2px;
  background-image: url(/assets/images/login/dungeonbutton.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 53px;
  width: 195px;
  box-shadow: none;
  text-align: center;
}

.btn-dungeon span{
  line-height: 30px;
}

// levels

.one-level{
  width:10%;
  float: left;
}

.choose-level {
  width:75px;
  height:75px;
  background: url(/assets/images/levels/level.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  margin:0 auto;
}

.choose-level span{

  margin-top: 23px;
  display: inline-flex;
  font-size: 25px;
  color: #ffd370;
  font-weight: bold;
}

.level-lock{
  width:75px;
  height:75px;
  background: url(/assets/images/levels/level-lock.png) no-repeat;
  background-size: contain;
}

// map

.cadre-gauche{
  float: left;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 380px;
  height: 350px;
  border-right: 1px solid #fff;
}

.cadre-gauche-editeur{
  float: left;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40%;
  height: 452px;
  border-right: 1px solid #fff;
  background: url(/assets/images/planche-1.png);
}

.personnage{
  background: url("/assets/images/infobar/picture.png") no-repeat;
  background-size: contain;
  height: 112px;
  float: left;
  width: 50%;
  z-index: 6000;
  position: relative;
}

.personnage img{
  width: 92%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.personnage-picture{
  height: 102px;
  width: 102px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 6px;
  margin-left: 5px;
}

.personnage-info{
  margin-top: 35px;
  float: left;
  width: 50%;
}

.personnage-info-pseudo{
  margin-left: 10px;
  margin-bottom: 10px;
}

.personnage-info-class{
  margin-left: 10px;
}

progress {
  display: block;

  border: 0 none;
  position: fixed;
}
progress::-moz-progress-bar {
}

.progressHealth{
  margin: 47px 0 0 167px;
  height: 18px;
  width: 191px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.radial-progress {
  border-radius: 50%;
  background-color: white;
  .circle .fill {
    border-radius: 50%;
  }
}

.progressDamage{
  margin: 79px 0 0 169px;
  height: 17px;
  width: 156px;
}

.progressMore{
  position: relative;
  display: inline;
  margin-left: 30px;
  padding-top: 0;
  height: 15px;
  margin-top: 10px;
  width: calc(100% - 175px);
}

progress[value].progressHealth::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #FF0000, #FF0000);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].progressDamage::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #09c);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value].progressMore::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #ED7F10, #ED7F10);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}


.cadreweapons {
  width: 100%;
  display: block;
  height: 208px;
  float: right;
  opacity: 0.9;
  border-top: 1px solid rgb(255, 255, 255);
  background: url(/assets/images/cadreweapons.png) 0% 0% / cover no-repeat;
}

.weapons {
  width: 75%;
  margin: 0 auto;
  margin-top: 60px;
}

.weapon{
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin: 5px 10px;
  border: 1px solid #fff;
}

.cadre {
  width: 55%;
  height: 260px;
  float: right;
}


.cadre-droite-editeur{
  width:60%;
  float: right;
}

.monster_head {
  width: 60px;
  margin-left: 20px;
}

.cadre-boss{
  width: 644px;
  display: block;
  height: 136px;
  background-color: rgba(0, 0, 0, 0.3);
  float: right;
}
.progressBoss {
  background: url(/assets/images/monsters/progressbar-boss.png) no-repeat;
  background-size: contain;
  width: 50%;
  height: 115px;
  background-color: #16120f;
}

.progressBarBoss{
  margin: 14px 0 0 110px;
  height: 18px;
  width: 194px;
}

.monster_name {
  padding-top: 13px;
  padding-left: 110px;
  margin: 0;
}

.monster_name_hidden {
  padding-top: 31px;
  padding-left: 110px;
  margin: 0;
}

progress[value].progressBarBoss::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #FF0000, #FF0000);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.cadre-objets {
  width: 375px;
  display: block;
  height: 180px;
  float: right;
  opacity: 0.9;
  border-top: 1px solid rgb(255, 255, 255);
  background: url(/assets/images/box-competence3.png) 0% 0% / contain no-repeat;
}

.progressSkills{
  margin: 65px 0 0 63px;
  height: 20px;
  width: 514px;
}


progress[value].progressSkills::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #00FE7E, #00FE7E);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.objets {
  height: 86px;
  width: 280px;
  display: block;
  padding: 2%;
  margin: 0 auto;
  margin-top: 22px;
}


.objet {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin: 5px 8px;
  border: 1px solid #fff;
}

.skills{
  width: 53px;
  height: 53px;
  display: block;
  float: left;
  margin: 0 23px;
  border: 1px solid #fff;
  cursor:pointer;
}

.weapon0{
  background: url("/assets/images/weapons/0.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon1{
  background: url("/assets/images/weapons/1.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon2{
  background: url("/assets/images/weapons/2.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon3{
  background: url("/assets/images/weapons/3.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon4{
  background: url("/assets/images/weapons/4.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon5{
  background: url("/assets/images/weapons/5.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon6{
  background: url("/assets/images/weapons/6.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.weapon7{
  background: url("/assets/images/weapons/7.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cadre-droite-ed{
  padding-top: 30px;
}

@media screen and (max-width: 1050px) {
  .tutoriel-map .cadre-tutoriel {
    left: 50px
  }
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 7998;
  top: 0;
}

.cadre-close{
  position: absolute;
  background: url("/assets/images/tutoriel/closebutton.png") no-repeat;
}

.objetVide{
  background: url("/assets/images/objets/vide.jpg") no-repeat;
  background-size: cover;
}

.pj-down {
  -webkit-animation: movedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: movedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pj-up {
  -webkit-animation: moveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: moveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pj-left {
  -webkit-animation: moveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: moveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pj-right {
  -webkit-animation: moveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: moveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.apj-down {
  -webkit-animation: amovedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: amovedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.apj-up {
  -webkit-animation: amoveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: amoveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.apj-left {
  -webkit-animation: amoveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: amoveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.apj-right {
  -webkit-animation: amoveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: amoveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_adown {
  -webkit-animation: amovedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: amovedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_aup {
  -webkit-animation: amoveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: amoveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_aleft {
  -webkit-animation: amoveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: amoveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.monster_aright {
  -webkit-animation: amoveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: amoveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_down {
  -webkit-animation: attacked_down 0.5s; /* Safari 4.0 - 8.0 */
  animation: attacked_down 0.5s ;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_up {
  -webkit-animation: attacked_up 0.5s; /* Safari 4.0 - 8.0 */
  animation: attacked_up 0.5s ;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_left {
  -webkit-animation: attacked_left 0.5s; /* Safari 4.0 - 8.0 */
  animation: attacked_left 0.5s ;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.attacked_right {
  -webkit-animation: attacked_right 0.5s; /* Safari 4.0 - 8.0 */
  animation: attacked_right 0.5s ;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes movedown {
  0%   {top: 0;}
  100% {top: 40px;}
}

/* Standard syntax */
@keyframes movedown {
  0%   {top: 0;}
  100% {top: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveup {
  0%   {bottom: 0;}
  100% {bottom: 40px;}
}

/* Standard syntax */
@keyframes moveup {
  0%   {bottom: 0;}
  100% {bottom: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveleft {
  0%   {right: 0;}
  100% {right: 40px;}
}

/* Standard syntax */
@keyframes moveleft {
  0%   {right: 0;}
  100% {right: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveright {
  0%   {left: 0;}
  100% {left: 40px;}
}

/* Standard syntax */
@keyframes moveright {
  0%   {left: 0;}
  100% {left: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amovedown {
  0%   {top: 0;}
  25% {top: 12px;}
  50% {top: 22px;}
  75% {top: 12px;}
  100% {top: 0;}
}

/* Standard syntax */
@keyframes amovedown {
  0%   {top: 0;}
  25% {top: 12px;}
  50% {top: 22px;}
  75% {top: 12px;}
  100% {top: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amoveup {
  0%   {bottom: 0;}
  25% {bottom: 12px;}
  50% {bottom: 22px;}
  75% {bottom: 12px;}
  100% {bottom: 0;}
}

/* Standard syntax */
@keyframes amoveup {
  0%   {bottom: 0;}
  25% {bottom: 12px;}
  50% {bottom: 22px;}
  75% {bottom: 12px;}
  100% {bottom: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amoveleft {
  0%   {right: 0;}
  25% {right: 12px;}
  50% {right: 22px;}
  75% {right: 12px;}
  100% {right: 0;}
}

/* Standard syntax */
@keyframes amoveleft {
  0%   {right: 0;}
  25% {right: 12px;}
  50% {right: 22px;}
  75% {right: 12px;}
  100% {right: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes amoveright {
  0%   {left: 0;}
  25% {left: 12px;}
  50% {left: 22px;}
  75% {left: 12px;}
  100% {left: 0;}
}

/* Standard syntax */
@keyframes amoveright {
  0%   {left: 0;}
  25% {left: 12px;}
  50% {left: 22px;}
  75% {left: 12px;}
  100% {left: 0;}
}

/* Standard syntax */
@keyframes attacked_down {
  0%   {top: 0;}
  25% {top: 5px;}
  50% {top: 15px;}
  75% {top: 5px;}
  100% {top: 0;}
}

/* Standard syntax */
@-webkit-keyframes attacked_down {
  0%   {top: 0;}
  25% {top: 5px;}
  50% {top: 15px;}
  75% {top: 5px;}
  100% {top: 0;}
}

/* Standard syntax */
@keyframes attacked_up {
  0%   {bottom: 0;}
  25% {bottom: 5px;}
  50% {bottom: 15px;}
  75% {bottom: 5px;}
  100% {bottom: 0;}
}


/* Standard syntax */
@-webkit-keyframes attacked_up {
  0%   {bottom: 0;}
  25% {bottom: 5px;}
  50% {bottom: 15px;}
  75% {bottom: 5px;}
  100% {bottom: 0;}
}

/* Standard syntax */
@keyframes attacked_left {
  0%   {right: 0;}
  25% {right: 5px;}
  50% {right: 15px;}
  75% {right: 5px;}
  100% {right: 0;}
}

/* Standard syntax */
@-webkit-keyframes attacked_left {
  0%   {right: 0;}
  25% {right: 5px;}
  50% {right: 15px;}
  75% {right: 5px;}
  100% {right: 0;}
}

/* Standard syntax */
@-webkit-keyframes attacked_right {
  0%   {left: 0;}
  25% {left: 5px;}
  50% {left: 15px;}
  75% {left: 5px;}
  100% {left: 0;}
}

/* Standard syntax */
@keyframes attacked_right {
  0%   {left: 0;}
  25% {left: 5px;}
  50% {left: 15px;}
  75% {left: 5px;}
  100% {left: 0;}
}


.is_target_aoe{
  border: 1px solid #852009;
}

.is_target_aoe:hover {
  border: 1px solid red;
}

.is_target{
  border: 1px solid #1b6d85;
}

.is_target:hover {
  border: 1px solid blue;
}

.selected_tile {
  border: 2px solid red;
}
// Yes, we can still override inline style globally.
// github.com/jxnblk/rebass#styling-with-css
.cadre-gauche-max{
  background-color: #16120F;
  width: 224px;
  float: left;
  height: 446px;
}

.cadre-droite-max{
  background-color: #16120F;
  width: 800px;
  height: 446px;
  margin-left: 224px;
  padding-top: 10px
}

.cadre-bas-max{
  background-color: #16120F;
  width: 100%;
  margin-top: 5px;
  height: 140px;
  border: 1px solid black;
  z-index: 3;
  border-radius: 19px;
}

.cadre-bas-max .infobar{
  background: url("/assets/images/infobar/xpandspell.png") no-repeat;
  position: absolute;
  height: 138px;
  width: 893px;
  right: 0;
  bottom: 0;
  padding-left: 70px;
  z-index:10;
}

.cadre-bas-max .infobar-mana{
  background: url("/assets/images/infobar/manabar.png") no-repeat;
  position: absolute;
  height: 91px;
  width: 91px;
  left: 0;
  bottom: 0;
  z-index: 6000;
}

.cadre-bas-max .infobar-life{
  background: url("/assets/images/infobar/lifebar.png") no-repeat;
  position: absolute;
  height: 120px;
  width: 120px;
  left: 70px;
  bottom: 0;
  z-index: 5999;
}

.cadre-menu{
  background: url("/assets/images/planche-1.png");
  width: 800px;
  height: 73px;
}

.cadre-menu-editor{
  background: url("/assets/images/planche-1.png");
  width: 1020px;
  height: 135px;
}

.cadre-menu-div{
  padding-left: 60px;
  padding-right: 70px;
  padding-top: 5px;
}
.cadre-menu-div-editor{
  padding-left: 310px;
  padding-right: 30px;
  padding-top: 25px;
}

.cadre-droite-bas{
  width: 800px;
  height: 360px;
  z-index: 10;
  overflow: hidden;
  position: absolute;
}

.cmenu {
  width: 800px;
  height: 360px;
}
.Link{
  width: 25%;
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background: url(/assets/images/interface/redbutton.png) no-repeat;
  height: 46px;
  line-height: 46px;
  padding-right: 20px;
  z-index: 7000;
  position: relative;
}
.cmenu-editor {
  left: -51px;
  z-index: -1;
}
.cadre-editor{
  width: 1025px;
  height: 460px;
  background-color: #16120F;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.cadre-gauche-bas{
  border: solid #493026 5px;
  width: 230px;
  height: 240px;
  border-radius: 6px;
  margin-top: 200px;
  margin-left: 20px;
}

.infobar-mana-div, .infobar-life-div{
   border-radius: 50%;
   z-index: 10;
 }


.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.vertical {
  box-shadow: inset 0 4px 6px #ccc;
}

.vertical-mana {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 5.5px;
  margin-top: 5.5px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: rgba(0,0,0,0);
}

.vertical-life {
  display: inline-block;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  margin-left: 6.5px;
  margin-top: 6.5px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: rgba(0,0,0,0);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.progress-bar-mana{
  background-color: blue;
}

.progress-bar-life{
  background-color: red;
}

.progress-bar {
  box-shadow: inset -18px 0 20px 0 rgba(255,255,255, 0.5);
}

.infobar-experience {
  color: #c2aa97;
  font-size: 14px;
  width: 110px;
  padding-left: 5px;
  padding-top: 2px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  float: left;
}

.infobar-spell-number {
  position: absolute;
  margin-left: 10px;
  margin-top: 25px;
}

.infobar-spell-number .oneSkill {
  width: 100px;
  float: left;
  text-align: center;
}

.infobar-spell-number .oneSkill .info{
  display: none;
  position: absolute;
  top: -303px;
  background-color: aliceblue;
  width: 550px;
  margin: 0 auto;
  z-index: 202530;
  background: url(/assets/images/login/info.png);
  background-size: cover;
  height: 240px;
  left:-200px;
}

.infobar-spell-number .oneSkill:hover .info{
  display: block;
}

.infobar-spell-number .oneSkill .info ul{
  margin: 0 50px 0 auto;
}

.infobar-spell-number .oneSkill .info ul li{
  list-style: none;
  width: 33%;
  float: left;
  margin: 7px 0;
  color: #333;
}

.infobar-spell-number .oneSkill .info h3{
  float: right;
  width: 90%;
  margin: 40px 0 0 0;
  color: #333;
}

.infobar-spell-number .oneSkill .info h4{
  float: right;
  width: 350px;
  color: #333;
  margin: 25px 50px 25px 0;
}


.infobar-spell-number div span {
  background-size: contain;
  background: url("/assets/images/infobar/spellkey.png") no-repeat;
  color: #c2aa97;
  padding: 4px 10px 8px 10px;
}



.mv4-pj-down {
  -webkit-animation: mv4movedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv4movedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv4-pj-up {
  -webkit-animation: mv4moveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv4moveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv4-pj-left {
  -webkit-animation: mv4moveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv4moveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv4-pj-right {
  -webkit-animation: mv4moveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv4moveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv4movedown {
  0%   {top: 0;}
  100% {top: 160px;}
}

/* Standard syntax */
@keyframes mv4movedown {
  0%   {top: 0;}
  100% {top: 160px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv4moveup {
  0%   {bottom: 0;}
  100% {bottom: 160px;}
}

/* Standard syntax */
@keyframes mv4moveup {
  0%   {bottom: 0;}
  100% {bottom: 160px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv4moveleft {
  0%   {right: 0;}
  100% {right: 160px;}
}

/* Standard syntax */
@keyframes mv4moveleft {
  0%   {right: 0;}
  100% {right: 160px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv4moveright {
  0%   {left: 0;}
  100% {left: 160px;}
}

/* Standard syntax */
@keyframes mv4moveright {
  0%   {left: 0;}
  100% {left: 160px;}
}



.mv3-pj-down {
  -webkit-animation: mv3movedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv3movedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv3-pj-up {
  -webkit-animation: mv3moveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv3moveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv3-pj-left {
  -webkit-animation: mv3moveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv3moveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv3-pj-right {
  -webkit-animation: mv3moveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv3moveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv3movedown {
  0%   {top: 0;}
  100% {top: 120px;}
}

/* Standard syntax */
@keyframes mv3movedown {
  0%   {top: 0;}
  100% {top: 120px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv3moveup {
  0%   {bottom: 0;}
  100% {bottom: 120px;}
}

/* Standard syntax */
@keyframes mv3moveup {
  0%   {bottom: 0;}
  100% {bottom: 120px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv3moveleft {
  0%   {right: 0;}
  100% {right: 120px;}
}

/* Standard syntax */
@keyframes mv3moveleft {
  0%   {right: 0;}
  100% {right: 120px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv3moveright {
  0%   {left: 0;}
  100% {left: 120px;}
}

/* Standard syntax */
@keyframes mv3moveright {
  0%   {left: 0;}
  100% {left: 120px;}
}




.mv2-pj-down {
  -webkit-animation: mv2movedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv2movedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv2-pj-up {
  -webkit-animation: mv2moveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv2moveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv2-pj-left {
  -webkit-animation: mv2moveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv2moveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv2-pj-right {
  -webkit-animation: mv2moveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv2moveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv2movedown {
  0%   {top: 0;}
  100% {top: 80px;}
}

/* Standard syntax */
@keyframes mv2movedown {
  0%   {top: 0;}
  100% {top: 80px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv2moveup {
  0%   {bottom: 0;}
  100% {bottom: 80px;}
}

/* Standard syntax */
@keyframes mv2moveup {
  0%   {bottom: 0;}
  100% {bottom: 80px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv2moveleft {
  0%   {right: 0;}
  100% {right: 80px;}
}

/* Standard syntax */
@keyframes mv2moveleft {
  0%   {right: 0;}
  100% {right: 80px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv2moveright {
  0%   {left: 0;}
  100% {left: 80px;}
}

/* Standard syntax */
@keyframes mv2moveright {
  0%   {left: 0;}
  100% {left: 80px;}
}




.mv1-pj-down {
  -webkit-animation: mv1movedown 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv1movedown 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv1-pj-up {
  -webkit-animation: mv1moveup 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv1moveup 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv1-pj-left {
  -webkit-animation: mv1moveleft 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv1moveleft 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.mv1-pj-right {
  -webkit-animation: mv1moveright 0.5s; /* Safari 4.0 - 8.0 */
  animation: mv1moveright 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function:ease;
  position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv1movedown {
  0%   {top: 0;}
  100% {top: 40px;}
}

/* Standard syntax */
@keyframes mv1movedown {
  0%   {top: 0;}
  100% {top: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv1moveup {
  0%   {bottom: 0;}
  100% {bottom: 40px;}
}

/* Standard syntax */
@keyframes mv1moveup {
  0%   {bottom: 0;}
  100% {bottom: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv1moveleft {
  0%   {right: 0;}
  100% {right: 40px;}
}

/* Standard syntax */
@keyframes mv1moveleft {
  0%   {right: 0;}
  100% {right: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mv1moveright {
  0%   {left: 0;}
  100% {left: 40px;}
}

/* Standard syntax */
@keyframes mv1moveright {
  0%   {left: 0;}
  100% {left: 40px;}
}

.container-classe{
  width: 70%;
  float: left;
  padding:50px;
}

.container-classe-pseudo {
  text-align: center;
  float: right;
  height: auto;
  background: #2a2e31;
  position: absolute;
  border: solid 10px #4d5354;
  top: 0;
  bottom: 0;
  max-height: 350px;
  right: 30px;
  margin: auto;
}


.center-scroll{
  width: 100%;
  padding:60px;
  color:white;
}

.center-scroll div{
  height: 50px;

}

.center-scroll .div-left span, .center-scroll .div-left .Input *{
  width: 50%!important;
  float: left;
}

.center-scroll .div-left .Label{
  line-height:32px!important;
}

.classe_form{
  width: 100%;
  padding:50px;
  max-width: none!important;
}

.classe-choice{
  width: 33%;
  height: 500px;
  cursor:pointer;
  float:left;
  text-align: center;
  position: relative;
}
.classe-choice img{
  position: absolute;
  height:auto;
  width: 80%;
  top:0;
}

.classe-choice img:nth-child(2){
  display: none;
}

.classe-choice:hover img:nth-child(2){
  display: block;
}

.classe-choice img:nth-child(3){
  display: block;
}

.classe-choice:hover img:nth-child(3){
  display: none;
}

.container-classe label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.container-classe label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
}

.container-classe label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    display: block;
}

.container-classe label > input:checked + img + img{ /* (RADIO CHECKED) IMAGE STYLES */
  display: none;
}


@media screen and (max-width: 1050px) {

  .container-classe{
    width: 50%;
    padding: 10px;
  }
  .classe-choice img{
    height: inherit;
    width: auto;
  }

  .classe-choice {
    width: 100%;
    float: none;
    display: flex;
    height: 150px;
  }
}

.cadre-tutoriel {
  background: url("/assets/images/tutoriel/scroll.png") no-repeat;
  position: absolute;
  height: 347px;
  width: 250px;
  z-index: 9999;
}
.cadre-tutoriel .tuto-text div{
  width: 100%;
  margin-bottom: 20px;
}
.tutoriel-start .cadre-tutoriel{
  background: url("/assets/images/tutoriel/scroll.png") no-repeat ;
  position: absolute;
  height: 347px;
  width: 250px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.tuto-text{
  color: black;
}
.tuto-next{
  background: url("/assets/images/tutoriel/next.png") no-repeat ;
  height: 35px;
  width: 76px;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.cadre-tutoriel .tuto-text{
  margin: 75px 25px 0 25px;
}

.cadre-tutoriel .tuto-next{
  margin: 55px;
}

//Step 2
.tutoriel-personnage .personnage-z{
  position: relative;
  z-index: 8000;
}

.tutoriel-personnage .cadre-tutoriel{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.tutoriel-menu-donjon .menu-dungeons{
  z-index: 8000;
  position: relative
}

.tutoriel-menu-perso .menu-perso{
  z-index: 8000;
  position: relative
}

.tutoriel-menu-spell .menu-spell{
  z-index: 8000;
  position: relative
}

.tutoriel-menu-perso .menu-perso{
  z-index: 8000;
  position: relative
}
.tutoriel-menu .cadre-tutoriel{
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 100px;
  right: 0;
}
.tutoriel-infobar .infobar-mana{
  z-index: 8000;
}

.tutoriel-infobar .infobar-life{
  z-index: 7999;
}

.tutoriel-infobar .infobar{
  z-index: 7998;
}

.tutoriel-infobar .cadre-tutoriel {
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 100px;
  right: 0;
}

@media screen and (max-width: 1050px) {
  .tutoriel-personnage .cadre-tutoriel {
    left: 410px
  }
}

.tutoriel-equipement .cadreweapons{
  position: relative;
  z-index: 7000;
}
.tutoriel-equipement .cadre-tutoriel{
  margin: auto;
  top: 0;
  bottom: 125px;
  left: 100px;
  right: 0;
}

.tutoriel-map .cadre-tutoriel{
  margin: auto;
  top: 0;
  bottom: 125px;
  left: 0;
  right: 600px;
}

.tutoriel-map .cadre-droite{
  position: relative;
  z-index: 7000;
}